@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.container{
    width: 320px;
    background-color: rgb(75, 31, 119);
    margin: 25vh 0 0 0;
    padding:.2em;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.container h1, h2, h3{
    text-align: center;
}